[init]
	defaultBranch = main
[user]
	email = 285532703+chikuwasaurus@users.noreply.github.com
	name = Chikuwa Saurus

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[include]
	path = ~/.config/delta/catppuccin.gitconfig

[delta]
	navigate = true  # use n and N to move between diff sections
	dark = true      # or light = true, or omit for auto-detection
	line-numbers = true
	side-by-side = true
	features = catppuccin-mocha

[merge]
	conflictStyle = zdiff3

[ghq]
	root = ~/Developer
	user = chikuwasaurus
